{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/card.css" %}">
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');</style>
    <title>ps</title>
</head>
<body>
    <header>
        <p>alter</p>
    </header>

    {% block content %}
    {% endblock %}

    <div id='futor'>
    </div>
</body>
</html>